<div class="blog-intro {{ page.color }}">
  <div>
    <h1>{{ page.heading }}</h1>
    <p>To see a world in a grain of sand</p>
  </div>
  <div class="home-follow-wrapper">
	  <div class="home-follow">
      <script async defer src="https://buttons.github.io/buttons.js"></script>
      <a href="https://twitter.com/{{site.footer-links.twitter}}?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-show-count="true">Follow @{{site.footer-links.twitter}}</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <a class="github-button" href="https://github.com/{{site.footer-links.github}}" data-show-screen-name="false" data-show-count="false" data-size="large" aria-label="Follow @{{site.footer-links.github}} on GitHub">Follow</a>
	  </div>
	</div>
</div>