<link href="https://fonts.googleapis.com/css?family=Poppins:200,700|Roboto:300|Roboto:900|Nunito:700" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=.5, maximum-scale=12.0, minimum-scale=.25, user-scalable=yes"/>

{% include meta.html %}
{% seo %}

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <meta name="theme-color" content="#ffffff" />
  <link rel="stylesheet" type="text/css" href="{{"./style.css" | relative_url}}" />
  <link rel="stylesheet" type="text/css" href="{{"./prism.css" | relative_url}}" />
  <link rel="stylesheet" type="text/css" href="{{"./prism-sas.css" | relative_url}}" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  <!-- favicon  -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png" | relative_url }}">
  <link rel="manifest" href="{{ "/site.webmanifest" | relative_url }}">
