<div class="">
    <h3 class="sidebar-title">Recent Posts</h3>
    <ul class="sidebar-list recent-list">
        <li>
            <a class="sidebar-thumbnail-wrapper" href="/blog/reactjs-redux-context-api">
                <p class="sidebar-thumbnail-copy">React.js Redux and Context API</p>
            </a>
        </li>
    </ul>
    <!-- Sidebar - Categgories -->
    <a class="text-decoration-none" href="/blog/categories#categories"><h3 class="sidebar-title">Categories</h3></a>
    <ul class="sidebar-list category-list">
      <!-- https://github.com/mmistakes -->
      <a id="page-title"></a>
      <ul class="category">
        <li>
            <a class="text-capitalize bluish" href="/blog/categories#programming">
            programming
            <span class="category-count">(3)</span>
          </a>
        </li>
            <a class="text-capitalize bluish" href="/blog/categories#javascript">
            javascript
            <span class="category-count">(1)</span>
          </a>
        </li>
      </ul>
    </ul>
    <!-- Sidebar - Categgories End-->
</div>