.row-flex {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px
}

@media (min-width: 992px) {
  .col-lg {
    flex-basis:0;
    flex-grow: 1;
    max-width: 100%
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%
  }

  .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%
  }

  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%
  }

  .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%
  }

  .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%
  }

  .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%
  }

  .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%
  }

  .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%
  }

  .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%
  }
}

@media (min-width: 992px) {
  .flex-992-nowrap {
    flex-wrap: nowrap !important
  }
}
@media (max-width: 991px) {
  .col-sm-992 {
    // flex: 0 0 100%;
    flex: auto;
    max-width: 100%;
    margin: 0 15px;
  }
}
@media (min-width: 1200px) {
  .d-xl-block {
    display: block !important
  }
}
.align-self-start {
  align-self: flex-start !important;
}
.sticky-top {
  position:sticky;
  top: 0;
  z-index: 1020
}
.sidebar {
  order: 2;
  font-size: .875rem
}
.sidebar {
  position:sticky;
  top: .75rem;
  overflow-y: auto
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

@media (min-width: 576px) {
  .container {
      max-width:540px
  }
}

@media (min-width: 768px) {
  .container {
      max-width:720px
  }
}

@media (min-width: 992px) {
  .container {
      max-width:960px
  }
}

@media (min-width: 1200px) {
  .container {
      max-width:1140px
  }
}

.container .page-holder ul li {
  margin: 0px;
  width: 100%;
}

// Sidebar
.sidebar {
  .sidebar-title {
    font-weight: 500;
    margin-bottom: 16px;
    color: #0f151a;
    padding-bottom: 0;
    border-bottom: none;
  }

  .sidebar-title:after {
    width: calc(100% - 0px);
    display: block;
    margin-bottom: 8px;
    background-color: #00c0fa;
    height: 2px;
    content: "";
  }

  .sidebar-list,.sidebar-list ul {
    margin-bottom: 32px;
    padding: 0;
    font-size: 0.875rem;
    a.bluish {
      color: #637787 !important;
      text-decoration: none !important;
      &:hover {
        color: black !important;
        font-weight: bold;
        border-bottom: unset;
      }
    }
  }


  .sidebar-list li {
    list-style: none;
    a.btn {
      padding: 0.1rem 0.3rem;
      font-size: 85%;
      margin: 0.25rem 0.1rem;
    }
  }

  .sidebar-thumbnail-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    text-decoration:none;
    &:hover {
      font-weight: bold;
      text-decoration: none;
      border-bottom: none;
      p {
        color: black;
        font-weight: bold;
      }
    }
  }

  .sidebar-thumbnail-copy {
    font-size: .875rem;
    color: #637787;
    margin: 0px !important;
  }
  span.category-count {
    font-size: .875rem;
    font-weight: 300;
  }
}

@media (min-width: 1200px) {
    .sidebar .sidebar-title:after {
        width:calc(60% - 0px)
    }

    .sidebar .sidebar-title:hover:after {
        width: calc(100% - 0px);
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        transition: all 0.3s
    }
}