---
layout: page-default
heading: blog
title: Blog List by Category
subheading: Analytics for financial risk management and investment
description: I'm Sarah Chen, analytic expert in banking and insurance. 
color: grad-blog
---

<div class="container">
    <h1 id="categories" class="mb-5 category-title">Categories</h1>
    <div id="category-list">
        {% for category in site.categories %}
        <div class="category-item mb-4">
            {% capture category_name %}{{ category | first }}{% endcapture %}
            <h3 id="{{ category_name | slugize }}" class="category-head text-capitalize">{{ category_name }}</h3>
            {% for post in site.categories[category_name] %}
            <div>
                <a class="category-thumbnail-wrapper" href="{{ post.url | relative_url }}">
                    <div class="thumbnail-text">
                        <p class="category-thumbnail-copy">{{ post.title | escape }}</p>
                        <p class="post-excerpts">{{ post.excerpt | strip_html | strip_newlines | truncatewords: 90 }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>