---
layout: page-default
heading: blog
title: Blog
subheading: my journey as an engineer
description: This blog on Deep Learning, VLSI Design and STA is written by Gogul Ilango. Master VLSI Design, Physical Design, Static Timing Analysis, Deep Learning through my articles, tutorials and resources.
color: grad-blog
image: /images/icons/logo.png
---
<!-- Blog List -->
<div class="home-container">
    <div class="home-articles">
        <div class="container">
            <div class="home-wrapper row-flex flex-992-nowrap">
                <div class="page-holder col-lg-8">
                    <ul>
                        {% for post in paginator.posts %}
                        <li>
                            <a class="post-link" href="{{ site.baseurl }}{{ post.url }}">
                                <div class="page-treasure-wrapper">
                                    <div class="page-treasure-image">
                                        <div style="background-image: url('{{ post.image }}')"></div>
                                    </div>
                                    <div class="page-treasure">
                                        <h2>{{ post.title }}</h2>
                                        <p class="date">{{ post.date | date_to_string: "ordinal", "US" }}</p class=>
                                        <p>{{ post.description }}</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-1"></div>
                <aside class="col-lg-3 col-sm-992 align-self-start sticky-top sidebar d-xl-block">
                    {% include sidebar.html %}
                </aside>
            </div>
        </div>
    </div>
</div>
<!-- End Blog List -->